@media (max-width: 550px){
    nav{
        width: 100vw;
        position: fixed;
        
        img{
            display: block;
        }

        ul{
            background-color: #A5FF8E;
            flex-wrap: wrap;
            height: 0vb;
            position: absolute;
            top: 100%;
            margin: 0;
            width: 40vw;
            overflow: hidden;


            .liBar{
                display: none !important;
            }
        }

        .menuClass{
            display: block !important;
            height: 50vb;
        }
    }

    #sec-inicio{
        
        >div{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            height: 50vb;
            text-align: center;
            align-items: center;

            img{
                justify-self: center;
                width: 30vw;
                height: 30vw;
            }

            span{
                font-size: 2.5rem !important;
            }
            h2{
                font-size: 2rem !important;
            }
        }
    }
}